#result { 
	padding: 1em;
	margin: 1em;
	height: 60%;
	text-align: center;
}

#yay > img {
	display: block;
	margin: auto;
	display: block;
}


#yay > img {
	display: block;
	margin: auto;
	display: block;
}

#map {
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.dropdown {
	position: relative;
}
.dropdown select {
	background-color: transparent;
	font-size: 25px;
	color:  white;
	border: solid 2px white;
	border-radius: 5px;
}

#btn {
	font-size: 25px;
	position: center;
	font-family: 'Roboto', sans-serif;
	padding: 3px;
	margin: 3px;
	border: solid 3px transparent;
	border-radius: 10px;
	background-color: gray;
}

#swap-yay {
	border: solid 3px transparent;
	border-radius: 10px;
	background-color: gray;
}

#swap-yum {
	border: solid 3px transparent;
	border-radius: 10px;
	background-color: gray;
}

#form {
	text-align: center;
	display: block;
	color: white;
}

#yum_url {
	font-size: 30px;
}

#yay_url {
	font-size: 30px;
}

html, body { 
	height:100%; 
	width: 100%;
	margin:0; 
	padding:0;
	text-align: center;
	background-color: #252839;
	font-family: 'Roboto', sans-serif;
	font-size:25px;

}

h1 {
	font-family: 'Bungee Shade', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #f2b632;
}
