{% extends 'base.html' %}

{% block content %}
	<form action="/submit-data" method="POST">
		<div>
			What timeth will you adventure?
			<select name="time">
				<option value="breakfast">Bfast (9:00 - 11:30 AM)</option>
				<option value="lunch">Lunch (12:00 - 2:00 PM)</option>
				<option value="snack">Snack (2:00 - 4:30 PM)</option>
				<option value="dinner">Dinner (5:00 - 8:00 PM)</option>
				<option value="drankz">Drankz (8:00 - 12:00 AM)</option>
			</select>
		</div>
		<div>
			How fareth will you goeth?
			<select name="radius">
				<option value="0">&lt; 1 mile </option>
				<option value="1">1 mile</option>
				<option value="2">1 - 2 miles</option>
				<option value="3">2 - 3 miles</option>
				<option value="4">3 - 4 miles</option>
				<option value="5">4 - 5 miles</option>
				<option value="6">5 - 6 miles</option>
				<option value="7">6 - 7 miles</option>
			</select>		
		</div>
		<div>
			<input type="hidden" id="latitude" name="latitude" value=" ">
			<input type="hidden" id="longitude" name="longitude" value=" ">
		</div>
		<div>
			<input type="submit" value="SUBMIT">
		</div>
		
	</form>

	<script type="text/javascript">
		// This code executes when the page is loaded
		// Upon user approval, gets the lat & long for current machine location and sets those values to hidden input
		var latitude = document.getElementById('latitude')
		var longitude = document.getElementById('longitude')

		window.onload = function() {
		  var startPos;

		  var geoSuccess = function(position) {
		    startPos = position;
		    var lat = (startPos.coords.latitude);
		    var longi = (startPos.coords.longitude);
		    latitude.value = lat;
		    longitude.value = longi;
		  };

		  var geoError = function(error) {
		    console.log('Error occurred. Error code: ' + error.code);
		    // error.code can be:
		    //   0: unknown error
		    //   1: permission denied
		    //   2: position unavailable (error response from location provider)
		    //   3: timed out
		  };
		  navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
		};

		// Event listener & callback function

	</script>

{% endblock %}