{% extends 'base.html' %}

{% block content %}

	<form action="/submit-data" method="POST" id="form">
		<div>
			What timeth will you adventure?
			<select name="time" id = "time_pref">
				<option value="brunch">Brunch</option>
				<option value="lunch">Lunch</option>
				<option value="snack">Snack</option>
				<option value="dinner">Dinner</option>
				<option value="bar">Drankz</option>
			</select>
		</div>
		<div>
			How fareth will you goeth?
			<select name="radius" id = "radius">
				<option value="0">&lt; 1 mile </option>
				<option value="1">1 mile</option>
				<option value="2">1 - 2 miles</option>
				<option value="3">2 - 3 miles</option>
				<option value="4">3 - 4 miles</option>
				<option value="5">4 - 5 miles</option>
				<option value="6">5 - 6 miles</option>
				<option value="7">6 - 7 miles</option>
			</select>		
		</div>
		<div>
			<input type="hidden" id="latitude" name="latitude" value="">
			<input type="hidden" id="longitude" name="longitude" value="">
		</div>
		<div>
			<input type="submit" id="btn" value="SUBMIT">
		</div>
		
	</form>
	<script type="text/javascript">
		window.onload = function(){
			navigator.geolocation.getCurrentPosition(handleGetCurrentPosition);
		}

		function handleGetCurrentPosition(location){
			var latitude = document.getElementById("latitude");
			var longitude = document.getElementById("longitude");
			latitude.value = location.coords.latitude;
			longitude.value = location.coords.longitude;
		}
	</script>

{% endblock %}