{% extends 'base.html' %}
{% block head %}
	<title>Leggo.SF</title>
	<h1> LEGGO >>> SF</h1>
	<link rel="stylesheet" type="text/css" href="./static/style.css"></style>
{% endblock %}

{% block content %}

	<form action="#" id="form" method="post">
		<div>
			What timeth will you adventure?
			<select name="time_pref" id = "time_pref">
				<option value="brunch">Brunch</option>
				<option value="lunch">Lunch</option>
				<option value="snack">Snack</option>
				<option value="dinner">Dinner</option>
				<option value="bar">Drankz</option>
			</select>
		</div>
		<div>
			How fareth will you goeth?
			<select name="radius" id = "radius">
				<option value="0">&lt; 1 mile </option>
				<option value="1">1 mile</option>
				<option value="2">1 - 2 miles</option>
				<option value="3">2 - 3 miles</option>
				<option value="4">3 - 4 miles</option>
				<option value="5">4 - 5 miles</option>
				<option value="6">5 - 6 miles</option>
				<option value="7">6 - 7 miles</option>
			</select>		
		</div>
		<div>
			<input type="hidden" id="latitude" name="latitude" value="">
			<input type="hidden" id="longitude" name="longitude" value="">
		</div>
		<div>
			<input type="submit" id="btn" value="SUBMIT">
		</div>
		
	</form>

	<div id="result">
		<h2>adventah!</h2>
		<div id="yay">
			<a id ="yay_url" href=""><div id="yay_name"></div></a>
			<div id ="yay_location"></div>
		</div>
		<div id="yum">
			<div id="yum_name"></div>
			<div id="yum_location"></div>
		</div>
	</div>
	
<script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<script src="/static/form.js" type="text/javascript"></script>
{% endblock %}